#about_header {
    background: #FFFFFF;
}

.about_header_content h1 {
    text-align: center;
    font-size: 60;
}

.about_header_content p {
    text-align: center;
    padding: 20px;
    font-size: 16;
    color: #4f4f4f;
}