#about_header {
    background: #FFFFFF;
    padding-bottom: 40px;
    padding-top: 100px;
}

.about_header_content h1 {
    text-align: center;
    font-size: 60;
}

.about_header_content p {
    text-align: center;
    padding: 20px;
    font-size: 16;
    color: #4f4f4f;
}

/* Media Queries (tablets) */
@media screen and (max-width: 1024px) {
    .about_header_content h1{
        font-size: 40;
    }

    .about_header_content p{
        font-size: 20;
    }
}

/* Media Queries (phones) */
@media screen and (max-width: 600px) {
    .about_header_content h1{
        font-size: 30;
    }

    .about_header_content p{
        font-size: 16;
    }
}